<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h2>コメント一覧</h2>
          <% @micropost.comments.each do |comment| %>
            <div>
              <h4><%= comment.title %></h4>
              <p><%= comment.content %></p>
              <%= image_tag comment.images.first.img.url, class: "d-block w-100", size: "400x300" %>
            </div>
          <% end %>
    </div>
  </div>
</div>
