<div>
  <h4><%= comment.title %></h4>
  <p><%= comment.content %></p>
  <% unless comment.images.blank? %>
      <% comment.images.each do |image| %>
        <img src = <%= image.img.url %>>
      <% end %>
  <% end %>
</div>