<%= link_to(notifications_path) do %>
  <% if unchecked_notifications.any? %>
    <span class="fa-stack">
      <i class="far fa-bell fa-lg" style="font-size: 1.5em;"></i>
      <i class="fas fa-circle n-circle" style="font-size: 0.7em;"></i>
    </span>
  <% else%>
    <i class="far fa-bell fa-lg" style="font-size: 1.5em;"></i>
  <% end %>
<% end %>