<% notifications = @notifications.where.not(visitorable_type: 'User', visitorable_id: current_user.id) %>
<% if notifications.exists? %>
  <div class="notification-container">
    <%= render notifications %>
  </div>
<% else %>
  <p class="text-center pt-5"> 通知はありません </p>
<% end %>