<div class="container user-info-container">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8 justify-content-center">
      <h4><%= @user.name %> さんのマイページ</h4>
      <% render 'notifications/mark'%>
      <hr>
      <div class="users-micropost-container">
        <% if @microposts %>
          <h4><%= "投稿した質問"%></h4>
          <%= render @microposts %>
        <% else %>
          <h4><%= "まだ質問していません"%></h4>
        <% end %>
      </div>
    </div>
  </div>
</div>