<div class="jumbortron">
  <div class="container">
    <h1 class="display-4">もっとカスタムを身近に</h1>
    <p class="lead">プロショップたちが、あなたの車を輝かせる</p>
    <hr class="my-4" color="#000">
    <p class="lead">
      <a class="btn btn-primary" href="#" role="button">利用登録</a>
    </p>
    <p class="lead">
      <a class="btn btn-primary" href="#" role="button">実例をみる</a>
    </p>
  </div>
</div>