<div class="jumbortron d-flex align-items-center">
  <div class="container-background">
    <div class="container banner-container">
      <h1 class="display-4">もっとカスタムを身近に</h1>
      <p class="lead strong">クルマのリノベはあなたの愛車とプロのカスタムショップをつなげるサイトです。</p>
      <hr class="my-4" color="#000">
      <p class="lead">
        <% if user_signed_in? %>
          <a class="btn btn-primary" href=<%= new_micropost_path %> role="button">質問してみる</a>
        <% else %>
          <a class="btn btn-primary" href=<%= new_user_registration_path %> role="button">利用登録</a>
        <% end %>
      </p>
      <p class="lead">
        <a class="btn btn-primary" href="#" role="button">実例をみる</a>
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="mx-auto container-discription">
      <section class="disc_1">
        <p>クルマのリノベでは、</p>
        <p>わざわざカスタムショップに出向かずに、</p>
        <p>様々な提案を受けることができます。</p>
      </section>
      <section class="disc_2">
        <p>質問を投稿し、多くのカスタムショップから提案をGETしよう!</p>
        <p>カスタムだけでなく板金や修理の質問もOK!</p>
      </section>
    </div>
  </div>
</div>