.comment-container {
  margin-top: 20px;
  .comment-list:last-child {
    display: none;
  }
}

.comment-list {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #5d627b;
  background: white;
  border-top: solid 5px #95ccff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.comment-sender > p {
  padding-left: 5px;
  background: #FFF;
  border-left: solid 3px #95ccff;
}

.comment-attach-image-container {
  width: 1275px;
  margin: auto;
  margin-top: 10px;
}

.btn-comment {
  width: 20%;
  margin-bottom: 20px;
}

.comment-form {
  text-align: center;
  margin-top: 40px;
}

.comment-article .form-group {
  width: 80%;
}