.comment-container {
  text-align: center;
  margin-top: 20px;
}

.comment-attach-image-container {
  width: 1275px;
  margin: auto;
  margin-top: 10px;
}

.btn-comment {
  width: 20%;
  margin-bottom: 20px;
}