<div class="card w-50 mx-auto">
  <%= image_tag 'main.jpg', height: "300px" %>
  <h3 class="card-header">こんなカスタムしたいです！</h3>

  <div class="card-body">
    <%= micropost.content %>
  </div>
  <div class="card-footer">フッター</div>
  <a href="#" class="btn btn-primary">この愛車にカスタムを提案してみる!</a>
</div>

<%= micropost.user.name %>