<div id="micropost-main">
  <div class="micropost-summary">
    <div class="micropost-title"><%= micropost.title %></div>
    <div class="micropost-content">
      <p><%= micropost.content.truncate(140, separator: '.') %></p>
    </div>
  </div>
  <div class="micropost-info">
    <div class="micropost-car-name">
      <p>車種</p>
      <p>ロードスター</p>
    </div>
    <div class="micropost-budget">
      <p>予算</p>
      <p><%= micropost.budget %>万円</p>
    </div>
    <div class="micropost-date">
      <p>掲載日  <%= micropost.created_at.strftime("%Y-%m-%d %H:%M") %></p>
    </div>
  </div>
</div>